
  <footer>
    <nav class="navbar fixed-bottom navbar-light bg-info text-light ">
      <p>&copy; Copyright 2021 Baktash sana</p>
    </nav>
  </footer>
  


  <!--JavaScript section-->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/scripts/app.js"></script>

</body>

</html>